.tabela {
  width: 100%;
  background-color: #ff0000;
}

.tabela thead tr th {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.tabela tbody {
  background-color: white;
}

.tabela td {
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}
