.contador .formulario {
  display: flex;
  flex-direction: column;
}

.contador .formulario label {
  font-size: 20px;
  margin-right: 10px;
}

.contador .formulario button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: goldenrod;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  outline: none;
  transition-duration: 0.5s;
}

.contador .formulario button:hover {
  background-color: gold;
}
